* {
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 18px;
  padding: 2px 8px 2px 8px;
}

window#waybar {
  background: transparent;
  border-radius: 10px;
  min-height: 0;
}

/* Groups */

.modules-left,
.modules-center,
.modules-right {
  border: transparent 6px solid;
  border-radius: 10px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background:
    linear-gradient(#1d2021, #1d2021) padding-box,
    linear-gradient(to right, #9d0006, #d65d0e) border-box;
  margin: 0px 10px;
  margin-top: 10px;
}

/* Label Customization */
button label {
  border: none;
  background: transparent;
}

/* Use icons instead of font-awesome */
#custom-colourpicker {
  background-image: url("/usr/share/icons/BeautyLine/apps/scalable/paint.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35%;
}

#custom-lock_screen {
  background-image: url("/usr/share/icons/BeautyLine/apps/scalable/lock.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35%;
}

#custom-power_btn {
  background-image: url("/usr/share/icons/BeautyLine/apps/scalable/system-shutdown.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35%;
}

#custom-updates {
  background-image: url("/usr/share/icons/BeautyLine/actions/scalable/download.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 40%;
}
/* Module Customization */

#workspaces {
  background: transparent;
}

#workspaces button {
  color: #a89984;
  margin: 0;
}

#workspaces button.active {
  color: #fb4934;
}

#window {
  color: #fb4934;
}

#clock {
  color: #d3869b;
}

#pulseaudio.output {
  color: #83a598;
}

#disk {
  color: #fb4934;
}

#memory {
  color: #fb4934;
}

#cpu {
  color: #fb4934;
}

#temperature {
  color: #fb4934;
}

#network {
  color: #fb4934;
}

#pulseaudio {
  color: #fb4934;
}
