window {
  margin: 0px;
  background-color: #291e29;
  border-radius: 30px;
  border: 2px solid #bd93f9;
}

#input {
  margin: 5px;
  border: none;
  color: #ffffff;
  background-color: #14151b;
  border-radius: 30px;
}

#inner-box {
  padding-top: 15px;
  margin: 5px;
  border: none;
  background-color: #291e29;
  border-radius: 30px;
}

#outer-box {
  margin: 15px;
  border: none;
  background-color: #291e29;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #bd93f9;
}

#entry {
  padding: 5px;
  margin: 5px;
  transition: margin 0.3s ease-in-out;
}

#entry:selected {
  margin: 2px;
  background-color: #14151b;
  border-radius: 20px;
  outline: none;
  margin-left: 10px;
}

#entry:selected * {
  background-color: #14151b;
  border-radius: 20px;
  outline: none;
  font-weight: bold;
  margin-left: 5px;
}
